# Config file for automatic testing at travis-ci.org
dist: bionic   # required for Python >= 3.7
language: Python

python:
  - "3.5"
  - "3.6"
  - "3.7"

sudo: false

# https://docs.travis-ci.com/user/database-setup/#cassandra
services:
  - docker

before_script:
  - docker run --name cassandra -d -p 9042:9042 cassandra:3.11.4
  - sleep 20
  - docker ps
  - pip install pytz
  - bash travis/setup_cassandra.sh

before_install:
  - pip install -q --upgrade pip
  - pip install -q pycodestyle
  - pip install -q coverage
  - pip install -q pytest-cov
  - pip install -q codacy-coverage

install:
  - pip install -r requirements.txt -e .

# command to run tests
script:
  #- python setup.py test
  - pytest --cov=dask_cassandra_loader --cov-report xml:coverage.xml

# upload coverage information to Codacy
after_success:
  - coverage report -m
  - python-codacy-coverage -r coverage.xml
  
